<div class="ui fullcontainer">

<!-- secondary nav tabs -->
  <div class="ui top attached tabular menu">
    <a class="active item">User Dashboard</a>

    <div class="right menu">
<!-- searchbar tab -->
      <div class="item">
        <div class="ui transparent icon input">
          <input type="text" placeholder="Search tickets...">
          <i class="search link icon"></i>
        </div>
      </div>
    </div>
  </div>
<!-- dashboard header -->
  <div class="ui bottom attached segment">
    <div class="ui container">
      <div class="ui info message">
        <i class="close icon"></i>
        <div class="header">
          Hello <%= current_user.first_name %>, your targets for this month is: 9001
        </div>
        <ul class="list">
          <li>You have 3 priority tickets</li>
          <li>You have 6 open tickets</li>
        </ul>
      </div>

      <h1>Your Dashboard </h1>


      <div style="margin: 20px 0px 20px 0px" class="ui five column grid">

        <div class="column">
          <div class="ui fluid special cards">
            <div id="squares" class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <h3>
                      <%= link_to "3 Priority Tickets", tickets_path, class:'white' %>
                    </h3>
                  </div>
                </div>
              </div>
              <i class="bordered inverted orange flag huge icon"></i>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid special cards">
            <div id="squares" class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <h3>
                      <%= link_to "6 Open Tickets", user_path(current_user), class:'white' %>
                    </h3>
                  </div>
                </div>
              </div>
              <i class="bordered inverted teal inbox huge icon"></i>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid special cards">
            <div id="squares" class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <h3>
                      <%= link_to "8 Open Invoices", user_path(current_user), class:'white' %>
                    </h3>
                  </div>
                </div>
              </div>
              <i class="bordered inverted green payment huge icon"></i>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid special cards">
            <div id="squares" class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <h3>
                      <%= link_to "2 Overdue Invoices", user_path(current_user), class:'white' %>
                    </h3>
                  </div>
                </div>
              </div>
              <i class="bordered inverted red warning sign huge icon"></i>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui fluid special cards">
            <div id="squares" class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <h3>
                      <%= link_to "1 New Feedback", user_path(current_user), class:'white' %>
                    </h3>
                  </div>
                </div>
              </div>
              <i class="bordered inverted cyan trophy huge icon"></i>
            </div>
          </div>
        </div>

      </div>
      <br>
      <hr>

      <div class="ui three column grid">

        <div class="column">
          <br>
          <div class="ui special cards">
            <div class="card">
              <div class="dimmable image">
                <%= image_tag("/avatars/#{current_user.profile_pic}")  %>
              </div>
              <div class="content">
                <a class="header"><%= current_user.full_name %>
                  <small class='muted-text float-right'>
                    <% if current_user.is_admin %>
                      <i class="star icon"></i>Admin
                    <% elsif current_user.is_staff %>
                      <i class="user icon"></i>Staff
                    <% end %>
                  </small>
                </a>
                <div class="meta">
                  <span class="date">
                    Joined: <%= current_user.created_at.strftime("%b %d, %Y") %>
                  </span>
                </div>
              </div>
              <div class="extra content">
                <a>
                  <i class="check circle green icon"></i>
                  Rep: +42
                </a>
              </div>
            </div>
          </div>
        </div>
<!--  -->
        <div class="column">
          <br>
          <h3>Target Overview</h3>
          <div class="ui teal progress" data-percent="35" id="invoice-target">
            <div class="bar">
              <div class="progress"></div>
            </div>
            <div class="label">Monthly Invoice Target</div>
          </div>
          <div class="ui teal progress" data-percent="74" id="ticket-target">
            <div class="bar">
              <div class="progress"></div>
            </div>
            <div class="label">Monthly Ticket Target</div>
          </div>
          <div class="ui yellow progress" data-percent="64" id="tickettime-target">
            <div class="bar">
              <div class="progress"></div>
            </div>
            <div class="label">Ticket Closing Times</div>
          </div>
          <div class="ui green progress" data-percent="84" id="satisfaction-target">
            <div class="bar">
              <div class="progress"></div>
            </div>
            <div class="label">Customer Satisfaction</div>
          </div>
        </div>
<!--  -->
        <div class="column">
          <br>
          <h3>Staff Feed</h3>
          <div class="ui segment">
            <div class="ui feed">
              <% @staff.each do |s| %>
              <div class="event">
                <div class="label">
                  <%= image_tag("/avatars/#{s.profile_pic}")  %>
                </div>
                <div class="content">
                  <div class="summary">
                    <a class="user">
                      <%= s.first_name %>
                    </a> closed ticket # <%= rand(100) %>
                    <div class="date">1 Hour Ago</div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
          <br>
        </div>

      </div>
    </div>
  </div>
</div>
