<div  style ="margin-top:200px"  class="pusher ">
  <div class="ui middle aligned center aligned grid">
    <div class="column">

<!-- under views/devse -->

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), class:"ui large form",) do |f| %>

  <div class="ui stacked segment">
    <h2 class="ui header">Sign up for a new account</h2>

    <div class="field">
      <div class="ui fluid large left icon input">
        <i class="user icon"></i>
        <%= f.text_field :first_name, placeholder: 'First name', autofocus: true %>
      </div>
    </div>
    <div class="field">
      <div class="ui fluid large left icon input">
        <i class="user icon"></i>
        <%= f.text_field :last_name, placeholder: 'Last name', autofocus: true %>
      </div>
    </div>

  <div class="field">
    <div class="ui fluid large left icon input">
      <i class="user icon"></i>
      <%= f.email_field :email, placeholder: 'example@email.com', autofocus: true %>
    </div>
  </div>

  <div class="field">
    <div class="ui fluid large left icon input">
      <i class="lock icon"></i>
      <%= f.password_field :password, placeholder: 'Password (6 characters min.)', autocomplete: "off" %>
    </div>
  </div>

  <div class="field">
    <div class="ui fluid large left icon input">
      <i class="lock icon"></i>
      <%= f.password_field :password_confirmation, placeholder: 'Confirm password)', autocomplete: "off" %>
    </div>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Sign up!", class:"ui fluid large teal submit button" %>
  </div>
<% end %>

<br>

<div class="ui animated fade button" tabindex="0">
  <div class="visible content">Already have an account?</div>
  <div class="hidden content">
    Log in!
  </div>
</div>
</div>
</div>
