<%= form_for @order do |o| %>


  <div class="ui dropdown">
    <a class="text">Client</a>
    <div class="menu">
      <% @clients.each do |c| %>
        <div class="item"><%= c.full_name %></div>
      <% end %>
    </div>
  </div>
<%#= o.input :amount %>

<div id= 'skus'>
<%= f.form_for :skus do |r| %>
<%= render 'sku_fields', f: r %>
<div class="links">
<%= link_to_add_association 'Add SKU', f, :skus %>
</div>
<% end %>
</div>

<% end %>
