<div class="nested-fields">
  <div class="ui form">
    <div class="fields">
      <div class="field">
        </button>
        <%= link_to_remove_association '<i class="minus icon"></i>'.html_safe, f, :class => "ui icon button" %>
      </div>

      <div class="nine wide field">
      <%= f.input :item %>
      </div>
      <div class="two wide field">
      <%= f.input :unit %>
      </div>
      <div class="two wide field">
      <%= f.input :amount %>
      </div>
      <div class="two wide field">
        <label for="total">Total</label>
        <input class="disabled" value="<%= f.object.total%>">
      </div>
    </div>
  </div>
</div>
