<div class="ui fullcontainer">

<!-- secondary nav tabs -->
  <div class="ui top attached tabular menu">
    <a class="item active" data-tab="orders" >Work Orders</a>
    <a class="item" data-tab="invoice_open" >Open Invoices</a>
    <a class="item" data-tab="invoice_closed" >Closed Invoices</a>
    <div class="right menu">
<!-- searchbar tab -->
      <div class="item">
        <div class="ui transparent icon input">
          <input type="text" placeholder="Search orders...">
          <i class="search link icon"></i>
        </div>
      </div>
    </div>
  </div>


<!-- work orders -->
  <div class="ui bottom attached tab segment active" data-tab="orders">
    <div class="ui container">
<!-- fix link modal -->
      <%= link_to new_order_path(@order), class: "ui right floated small primary labeled icon button" do %>
      <i class="user right icon"></i> Create Order
      <% end %>

      <div class="ui left floated">
        <h1 class="">Work Orders</h1>
      </div>
      <hr>
      <table class="ui celled striped table" id="order-table">
        <thead>
          <tr>
            <th><i class="sort icon"></i>ID</th>
            <th><i class="sort icon"></i>Client Name</th>
            <th><i class="sort icon"></i>Company</th>
            <th><i class="sort icon"></i>Created Date</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |o| %>
          <tr>
            <td class="collapsing">
              <i class="file text outline icon"></i> <%= o.id %>
            </td>
            <td>
              <%= link_to "#{o.user.full_name}", order_path(o) %>
            </td>
            <td class="right aligned collapsing">
              <%= o.user.company %>
            </td>
            <td class="right aligned collapsing">
              <%= o.created_at %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

<!--open invoicess -->
  <div class="ui bottom attached tab segment" data-tab="invoice_open">
    <div class="ui container">
<!-- fix link modal -->
      <h1 class="">Open Invoices</h1>
      <hr>
      <table class="ui celled striped table" id="invoice-table">
        <thead>
          <tr>
            <th><i class="sort icon"></i>ID</th>
            <th><i class="sort icon"></i>Status</th>
            <th><i class="sort icon"></i>Client Name</th>
            <th><i class="sort icon"></i>Company</th>
            <th><i class="sort icon"></i>Created Date</th>
            <th><i class="sort icon"></i>Due Date</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |o| %>
          <!-- need order with invoice state here -->
          <tr>
            <td class="collapsing">
              <i class="file dollar icon"></i> <%= o.id %>
            </td>
            <td class='collpapsing'>
              Good
            </td>
            <td>
              <%= link_to "#{o.user.full_name}", order_path(o) %>
            </td>
            <td class="right aligned collapsing">
              <%= o.user.company %>
            </td>
            <td class="right aligned collapsing">
              <%= o.created_at %>
            </td>
            <td class="right aligned collapsing">
              <%= o.created_at %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

<!-- closed invoices -->
  <div class="ui bottom attached tab segment" data-tab="invoice_closed">
    <div class="ui container">
      <h1>Closed Invoices</h1>
      <hr>
      <table class="ui celled striped table" id="invoice-table">
        <thead>
          <tr>
            <th><i class="sort icon"></i>ID</th>
            <th><i class="sort icon"></i>Status</th>
            <th><i class="sort icon"></i>Client Name</th>
            <th><i class="sort icon"></i>Company</th>
            <th><i class="sort icon"></i>Created Date</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |o| %>
          <!-- need order with closed invoice state here -->
          <tr>
            <td class="collapsing">
              <i class="file text outline icon"></i> <%= o.id %>
            </td>
            <td>Overdue</td>
            <td><%= link_to "#{o.user.full_name}", order_path(o)  %></td>
            <td class="right aligned collapsing"><%= o.user.company %></td>
            <td class="right aligned collapsing"><%= o.created_at %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>


</div>
