<div class="ui container">
  <div class="ui segment">

    <% if @order.may_publish? %>
      <div class="ui left action input float-right">
        <button class="ui teal labeled icon button">
        <%= link_to "Generate Order", order_invoices_path(@order), class: 'white', method: :post %>
          <i class="dollar icon"></i>
        </button>
        <input type="total" value="Due: $<%= @grand_total %>">
      </div>

    <% elsif @order.may_paid? %>
      <button class="ui teal float-right icon button">
        <i class="dollar icon"></i>
      </button>
    <% end %>

    <% if @order.may_paid? %>
      <h1>Invoice #00<%= @order.id %></h1>
    <% elsif %>
      <h1>Work Order #00<%= @order.id %></h1>
    <% end %>
    <hr>

    <div class="ui three column grid">

      <div class="column">
        <div class="ui segment">
          <p>Bill to: <strong><%= @order.user.full_name %></strong></p>
          <p><%= @order.user.company %></p>
          <p>123 Fake Street, Vancouver</p>
          <p>BC CAN V6V-8Y7</p>
        </div>
      </div>

      <div class="column"></div>

      <div class="column">
        <div class="ui segment right aligned">
          <p>Work Order #00<%= @order.id %></p>
          <p> Work order date: <%= @order.created_at %></p>
          <p>Customer ID <%= @order.user.id %></p>
          <p>Sales Rep: <%= @staff.sample.full_name %></p>
        </div>
      </div>
    </div>

    <div class="ui segment">
      <h3>Work Order Items</h3>
      <table class="ui very basic table">
        <thead>
          <tr>
            <th>SKU</th>
            <th>Units</th>
            <th>Amount</th>
            <th class="right aligned">Total</th>
          </tr>
        </thead>
        <tbody>
          <% @order.skus.each do |s| %>
          <tr>
            <td><%= s.item %></td>
            <td><%= s.unit %></td>
            <td><%= number_to_currency s.amount %></td>
            <td class="right aligned"><%= s.total %></td>
          </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th class="right aligned">
              <h4><%= @grand_total %></h4>
          </th>
        </tr>
        </tfoot>
      </table>
    </div>

    <% if @order.may_publish? %>
    <hr>
    <%= simple_form_for @order do |f| %>
      <div id='skus'>
        <%= f.simple_fields_for :skus do |r| %>
          <%= render 'sku_fields', f: r %>
        <% end %>
      </div>

      <span>
        <%= link_to_add_association '<i class="add icon"></i> Add SKU'.html_safe, f, :skus, partial: 'sku_fields', class: "ui icon button" %>
      </span>

      <%= f.submit class: 'ui primary button' %>
    <% end %>
    <% elsif @order.may_paid? %>
    <% end %>
  </div>
</div>


<%#= simple_form_for [@order, @pledge] do |f|  %>
<%#= f.input :amount %>
<%#= f.submit 'Pledge!', class: 'btn btn-primary' %>
<%# end %>
<!-- needs to go into invoice show for client -->
