<%= form_for @ticket, url: support_tickets_path, method: :post do |f| %>

<!-- need to style form select, does not dropdown. check jquery tags -->
<!-- <div class="field">
  <div class="ui selection dropdown" id=''> -->
    <%= f.select :department_id, Department.all.collect {|d| [ d.name, d.id ] }, :class => 'ui form', :prompt => "Choose department" %>
    <!-- <i class="dropdown icon"></i> -->
  <!-- </div> -->
<!-- </div> -->

<br>

<!-- this form actually works as well -->
<%#= f.collection_select :department_id, Department.all,
:id, :name, class: "ui form" %>


<div class="field">
  <div class="ui form">
    <!-- <i class="user icon"></i> -->
    <%= f.text_field :title, placeholder: 'Ticket title', autofocus: true %>
  </div>
</div>

<div class="ui form">
  <div class="field">
    <%= f.text_area :body, placeholder: 'Description', autofocus: true %>
  </div>
</div>
<br>

<%= f.submit :class => 'ui teal button' %>
<br>
<% end %>
