<div class="pusher">
  <div class="ui container">
    <div class="ui raised padded segment">

<!-- ticket header -->
      <div class="float-right">
        <p>Ticket created on:
          <%= standard_date_format(@ticket.created_at) %></p>
        <p>Department: <%= @ticket.department.name %></p>
        <p><%= @ticket.user.full_name %></p>
      </div>
      <br>
      <div class="float-left">
        <h2>
          <% if @ticket.flag? %>
          <i class='red warning sign icon'></i>
          <% end %>
          TICKET ID #<%= @ticket.id %>
          <sup class="ui teal label">
            <%= @ticket.status %>
          </sup>
        </h2>
      </div>
      <div class="ui clearing divider"></div>

<!-- ticket title  -->
      <h2 class='ui teal block'>Subject: <%= @ticket.title %> </h1>
      <p><%= @ticket.body %></p>
    </div>

  <!-- comments segment -->
    <div class="ui raised padded segment">
      <h1>Comments</h1>
      <%= render '/comments/form' %>
      <br>
      <hr />
      <br>
      <div id="comments">
        <% if @ticket.comments.present? %>
          <% @ticket.comments.each do |com| %>
          <%= render '/comments/comment', comment: com %>
          <% end %>
        <% end %>
      </div>
      <br>
    </div>
  </div>
</div>
