

<!--  && is_admin -->
<!-- can only see side nav (internal ops) if user is signed in and has right clearance. -->

<!-- side navigation -->
<% if user_signed_in? && current_user.is_staff %>
    <div id='sidenav' class="ui left visible vertical inverted sidebar labeled icon menu">

      <div class="item"><br><br>
        <!-- temp whitespace -->
      </div>


      <%= link_to dashboard_index_path, class: "#{'active' if current_page?(dashboard_index_path)} item" do %>
      <i class="block layout teal icon"></i> Dashboard
      <% end %>
      <%= link_to tickets_path, class: "#{'active' if current_page?(tickets_path)} item" do %>
      <i class="inbox  teal icon"></i> Tickets
      <% end %>
      <%= link_to invoices_path, class: "#{'active' if current_page?(invoices_path)} item" do %>
      <i class="tiny dollar  teal icon"></i>Invoices
      <% end %>
      <%= link_to orders_path, class: "#{'active' if current_page?(orders_path)} item" do %>
      <i class="file text outline teal icon"></i>Orders
      <% end %>
      <%= link_to calendar_index_path, class: "#{'active' if current_page?(calendar_index_path)} item" do %>
      <i class="calendar teal icon"></i>Calendar
      <% end %>
      <%= link_to '/', class: "#{'active' if current_page?('/')} item" do %>
      <i class="users teal icon"></i>Users
      <% end %>
      <%= link_to reports_path, class: "#{'active' if current_page?(reports_path)} item" do %>
        <i class="line chart teal icon"></i>Report
      <% end %>
    </div>

<% end %>
