<!DOCTYPE html>
<html>
  <head>
    <title>Helpdesk</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.css" />
  </head>

  <body id='body'>
    <%= render "layouts/navbar" %>

      <%= devise_error_messages! %>
      <% flash.each do |message_type, message| %>
      <%= javascript_tag "Materialize.toast('#{message}', 3000)" %>
      <% end %>

      <%= semantic_flash %>





    <article>

      <% if user_signed_in? %>
        <%= render "layouts/sidenav" %>
      <% else %>
      <% end %>

      <%= yield %>

    </article>

    <%= render "layouts/footer" %>
  </body>
</html>
