<!DOCTYPE html>
<html>
  <head>
    <title>Posio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.css" />
    <!-- <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script> -->
  </head>

  <body id='body'>
    <%= render "layouts/navbar" %>

<article>
  <%= render "layouts/sidenav" %>

    <div class="container">
    <% if flash[:notice] %>
      <div class="alert alert-info"><%= flash[:notice] %></div>
    <% elsif flash[:alert] %>
      <div class="alert alert-danger"><%= flash[:alert] %></div>
      <% end %>
    </div>



      <%= yield %>
    </article>

    <%= render "layouts/footer" %>
  </body>
</html>
