<!DOCTYPE html>
<html>
  <head>
    <title>Helpdesk</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.css" />
  </head>

  <body id='body'>
    <%= render "layouts/navbar" %>

  <article>
    <% if user_signed_in? %>
      <%= render "layouts/sidenav" %>
    <% end %>

    <div class="container">
      <% if flash[:notice] %>
        <div class="alert alert-info"><%= flash[:notice] %></div>
      <% elsif flash[:alert] %>
        <div class="alert alert-danger"><%= flash[:alert] %></div>
      <% end %>
    </div>

    <%= yield %>
  </article>

  <%= render "layouts/footer" %>

  </body>
</html>
