<!DOCTYPE html>
<html>
  <head>
    <title>Helpdesk</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.css" />

    <!-- prob dont need this yet, for datatables, no gem available -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/js/dataTables.semanticui.min.js">
  </head>

  <body id='body'>
    <%= render "layouts/navbar" %>


      <div class="ui container grayish">
        <% if flash[:notice] %>
          <div class="ui success message closable">
            <i class="close icon"></i>
            <%= flash[:notice] %>
          </div>

        <% elsif flash[:alert] %>
          <div class="ui negative message"><%= flash[:alert] %></div>
        <% end %>

      </div>


    <article>

      <% if user_signed_in? %>
        <%= render "layouts/sidenav" %>
      <% else %>
      <% end %>

      <%= yield %>

    </article>
  </body>
</html>
